/* Universal CSS */

:root {
    --main-red-color: #b91c1c;

    /* Light Mode */
    --bg-white-color: #fff8f6;
    --secundary-bg-white-color: #f5edeb;
    --black-text-color: #1f2937;
    --secundary-black-text-color: #6b7280;

    /* Dark Mode */
    --bg-dark-mode: #1F1F1E;
    --secundary-bg-dark-mode: #2C2C2B;
    --white-text-color: #f9fafb;

    /* Weitere Farben */
    --orange-color: #d97706;
    --brown-red-hover-color: #7c2d12;
    --green-color: #3A7D44;
}

* {
    box-sizing: border-box;
}

body {
    transition: background-color 0.4s ease, color 0.4s ease;
    margin: 0;
    background-color: var(--bg-white-color);
}

body.dark-mode {
    background-color: var(--bg-dark-mode);
    color: var(--white-text-color);
}

body.dark-mode .card1 {
    background-color: var(--secundary-bg-dark-mode);
    color: var(--white-text-color);
}

body.dark-mode .hero-card {
    background-color: var(--secundary-bg-dark-mode);
    color: var(--white-text-color);
}

/* Header CSS */

header {
    display: block;
    unicode-bidi: isolate;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-red-color);
    height: 80px;
    position: sticky;
}

.header-content {
    display: flex;
    align-items: center;
    width: 66%;
}

.headername {
    color: white;
    font-size: 23px;
    font-family: Verdana, sans-serif;
}

.darkmode-toggle {}

#new-post-button {
    background: none;
    color: white;
    border: white 1px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 17px;
    font-family: Verdana, sans-serif;
}

#new-post-button:hover {}

.toggle-spacer {
    flex-grow: 1;
}

/* Main Content CSS */

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.top-spacer {
    height: 100px;
    width: 100%;
}

.header-content-spacer {
    height: 40px;
    width: 100%;
}

.entry-toggle-spacer {
    width: 40px;
}

/* Normale Karte CSS */

.card1 {
    transition: background-color 0.4s ease, color 0.4s ease;
    width: 400px;
    height: 350px;
    background-color: var(--secundary-bg-white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    overflow: hidden;
}

.card1.dark-mode {
    background-color: var(--secundary-bg-dark-mode);
}

.card-image {
    width: 100%;
    height: 200px;
    background-color: red;
}

.card-body {
    padding: 15px;
    font-family: Verdana, sans-serif;
}

.card-body h2 {
    font-size: 1.2rem;
    color: var(--black-text-color);
}

.card-body p {
    font-size: 1rem;
    color: var(--secundary-black-text-color);
}

#posts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Hero Karte CSS */

.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.hero-card {
    display: flex;
    width: 1000px;
    height: 450px;
    background-color: var(--secundary-bg-white-color);
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    transition: background-color 0.4s ease, color 0.4s ease;
    overflow: hidden;
}

.hero-image {
    width: 60%;
    background-color: red;
}

.hero-body {
    padding: 15px;
    font-family: Verdana, sans-serif;
}

.hero-body h2 {
    font-size: 1.6rem;
    color: var(--black-text-color);
}

.hero-body p {
    font-size: 1.4rem;
    color: var(--secundary-black-text-color);
}

/* Pop-Up CSS */

.pop-up {
    width: 100%;
    position: fixed;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* All-Use CSS */

.squircle-corners {
    corner-shape: squircle;
    border-radius: 10%;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}